:root {
  --mainBg: rgb(79, 144, 224);
}
body {
  background: var(--mainBg);
}
.main {
  min-height: 80vh;
}
.navbar-brand {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: var(--mainBg);
  display: flex;
  justify-content: center;
  align-items: center;
}
.navbar-brand a {
  text-decoration: none;
  color: white;
  font-weight: bolder;
}
.nav-link {
  color: white;
}
.user-layout {
  display: flex;
}
.left {
  color: white;
  width: 30%;
  min-width: 200px;
  position: fixed;
  height: 100%;
}
.right {
  background: white;
  width: 70%;
  margin-left: 30%;
}
.sidebar li {
  list-style: none;
  line-height: 3rem;
}
